<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Handle</th>
      <th>Email</th>>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.handle %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
    <% if @users.size == 0 %>
      <em>No users found</em>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
