<p id="notice"><%= notice %></p>

<p>
  <strong>Handle:</strong>
  <%= @user.handle %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<br>
<br>


<% if @user.tweets %>
  <h1>Tweets</h1>
  <tbody>
    <% @user.tweets.each do |tweet| %>
      <tr>
        <td><%= link_to tweet.content, tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
<% end %>


