<!DOCTYPE html>
<html>

<head>
    <title>
        <%= @title %>
    </title>
    <%= csrf_meta_tag %>
</head>

<body>

    <div>
        <header>
            <nav>
                <ul>
                    <li>
                        <%= link_to "Home", root_path %>
                    </li>
                    <% if signed_in? %>
                        <li><%= link_to "Sign out", signout_path, :method => :delete %></li> 
                    <% else %>
                        <li><%= link_to "Sign in", signin_path %></li>
                        <li>
                        <%= link_to "Sign up", new_user_path %>
                        </li>
                    <% end %>
                </ul>
            </nav>
        </header>
        <section>
            <% flash.each do |key, value| %>
                <div><%= value %></div>
            <% end %>
        </section>
        <section>
            <%= yield %>
        </section>
    </div>
</body>

</html>